APP_ENV=local
APP_DEBUG=true
APP_URL_CLIENTE=http://192.168.25.3:8081
APP_URL_CRM=http://192.168.25.3:8082
DB_HOST=ac_postgres
DB_PORT=5432
DB_NAME=ac_db
DB_USER=ac_user
DB_PASS=ac_pass
REDIS_HOST=ac_redis
REDIS_PORT=6379
JWT_SECRET=change-me-super-secret
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=your_asaas_api_key
ASAAS_WEBHOOK_TOKEN=your_webhook_token
SMTP_HOST=mailhog
SMTP_PORT=1025
MAIL_FROM=noreply@koddahub.com.br
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
