APP_ENV=local
APP_DEBUG=true
APP_URL_CLIENTE=http://192.168.25.3:8081
APP_URL_CRM=http://192.168.25.3:8082
DB_HOST=ac_postgres
DB_PORT=5432
DB_NAME=ac_db
DB_USER=ac_user
DB_PASS=ac_pass
REDIS_HOST=ac_redis
REDIS_PORT=6379
JWT_SECRET=change-me-super-secret
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_API_KEY=your_asaas_api_key
ASAAS_WEBHOOK_TOKEN=your_webhook_token
ASAAS_WALLET_ID=
ASAAS_WEBHOOK_PUBLIC_URL=https://clientes.koddahub.com.br/api/webhooks/asaas
MAIL_MODE=smtp
SMTP_HOST=mail.koddahub.com.br
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USER=clientes@koddahub.com.br
SMTP_PASS=
MAIL_FROM=no-reply@clientes.koddahub.com.br
MAIL_FROM_NAME=KoddaHub
MAIL_TEST_COPY_TO=arielrluz@gmail.com
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

CRM_ADMIN_SESSION_TOKEN=koddahub-crm-v2-session
CRM_RECONCILE_URL=http://ac_crm_next:3000/api/automation/reconcile
CRM_BACKFILL_INTERVAL_SECONDS=1800
CRM_RECONCILE_INTERVAL_SECONDS=300
