# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/
.next/
out/

# Arquivos grandes e temporários
*.log
*.tmp
*.cache
.DS_Store

# Arquivos locais
.env
.env.example
storage/postgres/

# Código SQL/migrations locais
database/
